<p id="notice"><%= notice %></p>

<h2>Listing Quotes</h2>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <!--<th>Author</th>-->
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= link_to quote.text, edit_quote_path(quote), class: :blue %></td>
        <!--<td><%= quote.author %></td>-->
        <!--<td><%= link_to 'Show', quote %></td>-->
        <!--<td><%= link_to 'Edit', edit_quote_path(quote) %></td>-->
        <td><%= link_to 'Delete', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quote', new_quote_path %>
<%= link_to 'Welcome page', welcome_index_path %>
