<p id="notice"><%= notice %></p>

<p id="contenttext">
  <%= @quote.text %> 
  <div class='quoteauthor'>--<%= @quote.author %> </div>
</p>

<%= render 'footer' %>

<p><%= link_to 'new quote', new_quote_path %></p>