<p id="notice"><%= notice %></p>

<p id="contenttext">
  <%= @joke.setup %>  
  <div id="punchline"><%= @joke.punchline %>!</div>
</p>

<%= render "footer" %>

<p><%= link_to "new joke", new_joke_path, remote: true %></p>